<nav class="navbar navbar-custom">
<div><a href="#" class="text-muted">CONTACT US</a></div>
<div><a href="#" class="text-muted">COMPANY</a></div>
<div><a href="#" class="text-muted">SIGN IN</a></div>
</nav>

<nav class="navbar navbar-light l-3">
<img src="{{titleImg}}" width="200" />
<div><a href='#'>Personal</a></div>
<div><a href='#'>Business</a></div>
<div><a href='#'>Pricing</a></div>
<div><a href='#'>Partners</a></div>
<div><a href='#'>Resources</a></div>
<div><a href='#'>Support</a></div>
<button type = "button" class="btn btn-warning"><a href='#'>FREE DOWNLOAD</a></button>
</nav>
<div class="dropdown">
<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Dropdown button
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
  <a class="dropdown-item" href="#">Something else here</a>
</div>
</div>
<style>
.mix {
    min-height:370px;
}
.navbar-custom{
  padding-left:1300px;
  padding-right:380px;
  font-size:11px;
}
.navbar-light{
  padding-left:400px;
  padding-right:400px; 
  font-size:25px; 
}
a:link { 
  text-decoration: none; 
  color:#00008b;
}
a:visited {
  color: #00008b;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
}
nav.navbar-custom ul.dropdown-menu > li > a { 
    color: black; 
}
nav.navbar-custom ul.dropdown-menu > li > a:hover { 
    background: #5CB85C; color: #fff; 
}
nav.navbar-custom span.badge { 
    background: #5CB85C; 
    font-weight: normal; 
    font-size: 11px;
     margin: 0 4px; 
}
nav.navbar-custom span.badge.new { 
    background: rgba(255, 0, 0, 0.8); color: #fff; 
}
</style>